/*Your styles can go here.*/
/* basic css copy-pasted from skills-html version */

.form-element {
    background-color: yellow;
}

#lastname {
    font-weight: bold;
}
#instruction {
    border: 2px solid black;
}

/* Adding these for fun */
/* And also appropriate melonosity */

body {
    font-family: Verdana, sans-serif;
}

h1 {
    color: #00CC66;
}

h3 {
    color: #008F47;
}

p {
    color: #FF9966;
}

a {
    color: #FF5050;
}

/* adding these for base.html styling extras */

#page-heading {
    font-style: oblique;
    text-align: center;
}
footer {
    font-size: 50%;
    font-style: oblique;
    text-align: center;
}
