/*Your styles can go here.*/
/* basic css copy-pasted from skills-html version */

.form-element {
    background-color: yellow;
}

#lastname {
    font-weight: bold;
}
#instruction {
    border: 2px solid black;
}