<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skills-Web</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Application form for Ubermelon eng team -->

    <h1>Apply for a position at Ubermelon! The best company ever!</h1>

    <div id="instruction">
        <p>We here at Ubermelon provide the best melons to the best customers. At 
        Ubermelon, melons come first. Our customers are extremely satisfied with 
        our amazing breadth and depth of melon selection at extremely reasonable, 
        almost too-reasonable, prices. Apply to become a part of our melon-focused 
        team today!</p>
        <p>Enter your information to join the greatest melon-oriented team ever!</p>
    </div>

    <form class="form-element" action="/application" method="POST"> 
        <label>Last name: <input id="lastname" type="text" name="lastname"></label><br>
        <label>First name: <input type="text" name="firstname"></label><br>
        <label>Salary requirement: <input type="number" name="salaryreq" min="0" max="100000"></label><br>

        <p>What job are you applying for?</p>
        <label><select name="jobtitle"></label>
            <label><option value="software_engineer">Software Engineer</option></label>
            <label><option value="qa_eng">QA Engineer</option></label>
            <label><option value="product_manager">Product Manager</option></label>
        </select><br> 
        <label><input type="submit"></label>
    </form>

    <!-- I'm not quite sure exactly where to use labels or how to use them most effectively. -->

</body>
</html>